<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <!--<add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SpecFlow RC" value="https://ci.appveyor.com/nuget/specflow-rc" />-->
    <add key="TechTalk Local" value="\\TTV-NAS01\files\TeamBuild\NuGet" />
  </packageSources>
</configuration>